/*
#extension-followers-view .clicked{
	border-left:10px solid white;
	background-color:rgba(255,255,255,.1);
}
*/

#extension-followers-icon{
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-followers-title{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 0;
    padding-left: 6.8rem;
    font-size: 1.8rem;
    background-size: 3.2rem;
    background-repeat: no-repeat;
    background-position: 2rem;
    background-image: url('../images/menu-icon.svg');
	width:8rem;
	margin:2rem auto;
}


#extension-followers-view button{
	font-size: 1.6rem;
	padding: 0.5rem 1rem;
	border: none;
}





#extension-followers-add-button{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-image: url(/images/add.svg);
	border-radius: 2.8rem;
}



/*  DELETE  */

/*
#extension-followers-view .extension-followers-item.delete .rule-delete-button{
	display:none;
}
*/

#extension-followers-view .rule-edit-overlay{
	left: 0;
	top: 0;
	border-radius:.5rem;
	display:none;
}

#extension-followers-view .extension-followers-item.delete .rule-edit-overlay{
	display:block;
}

/*
.extension-followers-item-delete-button{
	width: 3.5rem;
	height: 3.5rem;
	margin:.5rem;
	border: 1px solid rgba(255,255,255,.4);
	border-radius: 50%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='white'%3E%3Cpath d='M4 10v20c0 1.1 0.9 2 2 2h18c1.1 0 2-0.9 2-2v-20h-22zM10 28h-2v-14h2v14zM14 28h-2v-14h2v14zM18 28h-2v-14h2v14zM22 28h-2v-14h2v14z'%3E%3C/path%3E%3Cpath d='M26.5 4h-6.5v-2.5c0-0.825-0.675-1.5-1.5-1.5h-7c-0.825 0-1.5 0.675-1.5 1.5v2.5h-6.5c-0.825 0-1.5 0.675-1.5 1.5v2.5h26v-2.5c0-0.825-0.675-1.5-1.5-1.5zM18 4h-6v-1.975h6v1.975z'%3E%3C/path%3E%3C/svg%3E");
    background-position:center;
    background-size: 1.5rem;
    background-repeat: no-repeat;
	cursor:pointer;
	opacity:.75;
}
*/

.extension-followers-item-delete-button{
	background: url(/images/delete-button.png);
    background-size: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #979797;
    cursor: pointer;
	display:inline-block;
	opacity:.5;
}





.extension-followers-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.extension-followers-item .rule-delete-dialog{
	max-width:50rem;
}




.extension-followers-item{
	/*border-bottom:1px solid white;*/
	padding: 0;
	display: flex;
	background-color: #46769C;
	border-radius:.5rem;
	margin-top: 4rem;
	border-radius: .5rem;
	position: relative;
}

.extension-followers-item-left{
	margin-bottom: 2rem;
}

.extension-followers-item-sentence{
	color:white;
	font-size: 1.8rem;
	border-right: 1px solid rgba(255,255,255,.3);
	width:100%;
	padding:2rem;
	overflow: hidden;
}
.extension-followers-item-right{
	text-align:center;
}

.extension-followers-item-left .rule-switch{
	padding-right:0;
}


.extension-followers-item-menu{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	padding:2rem;
}


#extension-followers-view .extension-followers-limit{
	width: 8rem;
	font-size: 1.8rem;
	padding:.5rem 1rem;
	margin: .5rem;
	background-color: #4d8bb7;
	color:white;
	/*border-bottom:1px solid rgba(255,255,255,.3);*/
	/*background:linear-gradient(to bottom, #5d9bc7 0%,#4d8bb7 100%);*/
}


#extension-followers-view .extension-followers-limit:focus{
}


.extension-followers-item-sentence > span{
	display:inline-block;
}


#extension-followers-list{
	width:auto;
}


#extension-followers-original-item{
	opacity:.3;
	display:none;
}


#extension-followers-view select{
	display: inline-block;
	font-size: 1.8rem;
	color:white;
	line-height: 1.3;
	padding:.5rem 1rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin: 0 .5rem;
	border: none;
	background-color: #4d8bb7;
	/*border-bottom:1px solid rgba(255,255,255,.3);*/
	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/*
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	
	
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, #5d9bc7 0%,#4d8bb7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	*/
	
}

#extension-followers-view select:focus{
}


#main-menu #extension-followers-menu-item {
  background-image: url('../images/menu-icon.svg');
}


#extension-followers-view {
  height: 100%; /*calc(100% - 7.6rem);*/
  box-sizing: border-box;
  /*overflow: auto;*/
	overflow: scroll;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
}


#extension-followers-content {
	display:flex;
	flex-direction: column;
	flex-direction: column;
	overflow: auto;
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
}


.extension-followers-item-sentence-part{
	display:block;
	padding:.5rem;
}
.extension-followers-item-sentence-part-inter{
	padding:1rem;
}


.extension-followers-response-data{
	text-align:center;
}



@media screen and (min-width: 1025px) {
	#extension-followers-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;
	}
	
	#extension-followers-content-container{
		height:auto;
		width: calc(100% - 3rem);
	}
	
}


@media screen and (min-width: 1500px) {
	.extension-followers-item-sentence-part{
		display:inline-block;
	}
}

