<div id="extension-followers-content">
  
    <div id="extension-followers-content-container">
        <h3 id="extension-followers-title"><span id="extension-followers-iconx"></span>Followers</h3>
        <div id="extension-followers-not-ready-warning" style="display:none">
            <h1>Not ready yet</h1>
            <p>Followers waits 20 seconds before starting so that all other addons have had some time to generate all the required device information.</p>
            <p>Please come back in 20 seconds.</p>
        </div>
        <div id="extension-followers-missing-key-warning" style="display:none">
            <h1>Missing permission to read and control devices</h1>
            <p>To use followers you will have to give it permission to access your devices. Followers currently does not have permission.</p>
            <p>The Candle app store can give Followers this permission. Visit the settings page for this addon via the Candle app store, and allow this addon to access your things. Then click save.</p>
            <p>If you don't have the Candle App Store, go to <a href="/settings/developer">Settings -> Developer</a> and then Create Local Authorization. Generate a key there by clicking on Allow at the bottom of the page. Copy the token that's generated, and then visit the settings page for this addon. There you can paste in the code, and click Apply to save it.</p>
        </div>
        <div id="extension-followers-list">
            <div id="extension-followers-list-explanation">
                <div>
                    <p>Followers allows you to have the value of one property 'follow' the value of another.</p>
                    <p>For example, you could have your livingroom light's brightness be applied to the hallway light too, so their brightness always changes in step.</p>
                    <p>You could even reverse this relation, so that as the brightness of one light goes down, the brightness of the other goes up.</p>
                </div>
            </div>
        </div>
        
        
        <div id="extension-followers-original-item" class="extension-followers-item">
            
            <div class="extension-followers-item-sentence">
                <div class="extension-followers-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit1" name="extension-followers-limit1">
                        to 
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit2" name="extension-followers-limit2">
                        of 
                    </span>
                    <span class="extension-followers-leader">
                        <select class="extension-followers-thing1 extension-followers-dropdown">
                            <option value=""></option>
                        </select><select class="extension-followers-property1 extension-followers-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
                
                <div class="extension-followers-item-sentence-part extension-followers-item-sentence-part-inter">
                    should translate to values between
                </div>
                
                <div class="extension-followers-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit3" name="extension-followers-limit3"> 
                        to 
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit4" name="extension-followers-limit4"> 
                        of 
                    </span>
                    <span class="extension-followers-follower">
                        <select class="extension-followers-thing2 extension-followers-dropdown">
                            <option value=""></option>
                        </select><select class="extension-followers-property2 extension-followers-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
                
                <div class="extension-followers-item-sentence-part extension-followers-item-sentence-part-inter">
                    every <select class="extension-followers-speed extension-followers-dropdown">
                            <option value="7">minute</option>
                            <option value="2">10 seconds</option>
                            <option value="0">second</option>
                            
                            
                        </select>
                </div>
            </div>
            
            <div class="extension-followers-item-menu">
                <div class="extension-followers-item-left">
                    <form class="rule-switch switch">
                        <input type="checkbox" id="extension-followers-toggle-checkbox" class="switch-checkbox extension-followers-enabled">
                        <label class="switch-slider" for="extension-followers-toggle-label">
                        </label>
                    </form>
                </div>

                <div class="extension-followers-item-right">

                    <div class="extension-followers-item-delete-button">&nbsp;</div>
                </div>
            </div>
        
            <div class="rule-edit-overlay delete">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to remove this follower permanently?</p>
                    <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="rule-delete-confirm-button" type="button" value="Remove">
                </div>
            </div>
            
        </div>


        <br/>
        <br/>

        <div id="extension-followers-debug-warning" style="display: none;">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Followers</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.</p>
        </div>
        
        <br/>
        <br/>
        
        <div id="extension-followers-response">
            <p id="extension-followers-response-data"></p>
        </div>
        
        <br/>

    </div>
    
    <button id="extension-followers-add-button" class="icon-button" aria-label="New"></button>
    
</div>





