<div id="extension-followers-content">
  
    <div id="extension-followers-content-container">
        <h3 id="extension-followers-title"><span id="extension-followers-iconx"></span>Followers</h3>

        <div id="extension-followers-list">
        
        
        </div>
        
        
        <div id="extension-followers-original-item" class="extension-followers-item">

            <!--<div class="rule-delete-button extension-followers-item-delete-button"></div>-->
            
            <div class="extension-followers-item-sentence">
                <div class="extension-followers-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit1" name="extension-followers-limit1">
                        to 
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit2" name="extension-followers-limit2">
                        of 
                    </span>
                    <span class="extension-followers-leader">
                        <select class="extension-followers-thing1" class="extension-followers-dropdown">
                            <option value=""></option>
                        </select><select class="extension-followers-property1" class="extension-followers-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
                <div class="extension-followers-item-sentence-part extension-followers-item-sentence-part-inter">
                    should translate to values between
                </div>
                <div class="extension-followers-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit3" name="extension-followers-limit3"> 
                        to 
                        <input type="number" step="0.001" class="extension-followers-limit extension-followers-limit4" name="extension-followers-limit4"> 
                        of 
                    </span>
                    <span class="extension-followers-follower">
                        <select class="extension-followers-thing2" class="extension-followers-dropdown">
                            <option value=""></option>
                        </select><select class="extension-followers-property2" class="extension-followers-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
            </div>
            
            <div class="extension-followers-item-menu">
                <div class="extension-followers-item-left">
                    <form class="rule-switch switch">
                        <input type="checkbox" id="extension-followers-toggle-checkbox" class="switch-checkbox extension-followers-enabled">
                        <label class="switch-slider" for="extension-followers-toggle-label">
                        </label>
                    </form>
                </div>

                <div class="extension-followers-item-right">

                    <div class="extension-followers-item-delete-button">&nbsp;</div>
                </div>
            </div>
        
            <div class="rule-edit-overlay delete">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to remove this follower permanently?</p>
                    <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="rule-delete-confirm-button" type="button" value="Remove">
                </div>
            </div>
            
        </div>


        <br/>
        <br/>

        <div id="extension-followers-response">
            <p id="extension-followers-response-data"></p>
        </div>
        <br/>

    </div>
    
    <button id="extension-followers-add-button" class="icon-button" data-l10n-id="new" aria-label="New"></button>
    
</div>





